# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc


# production
/build

# misc
.DS_Store
Thumbs.db
.env.local
.env.development.local
.env.test.local
.env.production.local
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

npm-debug.log*
yarn-debug.log*
yarn-error.log*
