.list-item-wrap{
  margin: 15px 0;
  .list-item{
    padding: 15px;
    border: solid 1px #d8dde6;
    border-bottom: 1px solid #ED1B24;
    border-radius: 8px;
  }
}
.tbnail-wrap{
  width: 56px;
  height: 56px;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  img{
    display: block;
    height: 100%;
    width: auto;
  }
}
.character-name{
  font-size: 16px;
  color: #4a4a4a;
  height: 23px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  margin: 0 0 20px;
}
.character-alter{
  color: #ED1B24;
  font-size: 14px;
  margin: 0 0 20px;
}
.divide-line-wrap{
  height: 2px;
  position: relative;
  span{
    height: 1px;
    width:80px;
    display: inline-block;
    background-color: #d8dde6;
    position: absolute;
    top: 0;
    left: calc(50% - ( 80px / 2));
  }
}
.character-description{
  font-size: 14px;
  color: #4a4a4a;
  height: 62px;
  overflow: hidden;
  margin: 20px 0 0;
}